<div class="container" style="background-image: url(<%= asset_path "martin-wessely-243-unsplash.jpg" %>); background-size: cover">
	<div class="row" style="padding: 100px 0 150px 0;">
		<div class="text-center col-xs-12" style="color: white;">
			<h1>※利用制限中</h1>
			<h2>※ご利用のアカウントは一時的に機能が制限されています。</h2>
		</div>
		<div>
			<%= image_tag("制限.png", :size => "100x300", class: "col-xs-8 col-xs-offset-2") %>
		</div>