<% title "ブックマーク" %>

<div class="container">
	<div class="row">
	  <% if !@favorites.empty? %>
		<% @favorites.each do |favorite| %>
			<div class="col-xs-4">
				<% post = Post.find(favorite.post_id) %>
				<% if post.user.unsubscribe == false %>
					<%= link_to post_path(post.id) do %>
						<%= attachment_image_tag post, :image, size: "200x200", format: "jpeg", fallback: "noimage2.jpeg", class: "col-xs-12"%>
					<% end %>
				<% end %>
			</div>
		<% end %>
	  <% else %>
	  	<h3 style="text-align: center; padding-top: 100px;">
	  		ブックマークはまだありません。<br>投稿検索からお気に入りの記事を探してみましょう！
		</h3>
	  <% end %>
	</div>
</div>